/* NESTED KEY */
.nestedkey td {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin: 1em;
}

table.nestedkey {
  border-collapse: collapse;
  margin-top: .5em;
}

.nestedkey td {
  border: solid 1px #fff;
  text-align: center;
  width: 30px;
  height: 30px;
}

/* BAR */
svg.barex {
  shape-rendering: crispEdges;
}

/* AREA EXAMPLE */
.areaex .rule line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.areaex .rule line.axis {
  stroke: #000;
}

.areaex .area {
  fill: lightsteelblue;
  opacity: 0.95;
}

.areaex .line, circle.area {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.areaex circle.area {
  fill: #fff;
}

/* TIMER EXAMPLE */
#countdown
{
	font-weight: bold;
	font-size: 200px;
}

/* TRANSITION EXAMPLE */
div.flying
{
	padding: 5px;
	font-size: 12px;
	text-align: center;
	width: 75px;
}

.transitions
{
	height: 360px;
}

/* SORT */

.Sort
{
	font: 14px Helvetica Neue;
	margin: 0;
	display: block;
}

.Sort circle
{
	fill: steelblue;
	fill-opacity: .8;
	stroke: #000;
}

.WebkitTransition
{
	font: 14px Helvetica Neue;
	text-rendering: optimizeLegibility;
	margin: 1em;
}

.WebkitTransition #cells
{
	position: relative;
	margin-top: .5em;
	height: 300px;
	overflow: hidden;
}

.WebkitTransition .cell
{
	position: absolute;
	background: steelblue;
	color: white;
	width: 28px;
	text-align: center;
	padding-top: 6px;
	top: 300px;
	bottom: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(steelblue));
	-webkit-transition-property: top, background-color;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease, linear;
}

.Line .rule line
{
	stroke: #000;
	shape-rendering: crispEdges;
}

.Line .rule line.axis
{
	stroke: #000;
}

.Line .line
{
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.Line circle.line
{
	fill: #fff;
}

.Moire circle
{
	fill: none;
	stroke: #000;
}

.Chord .chord path
{
	fill-opacity: .67;
	stroke: #000;
	stroke-width: .5px;
}

.Stack line {
	stroke : black;
}

.ZoomPan svg {
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}

#example {
	font-size: 9px;
	font-family: Verdana, sans-serif;
}

#description {
	background: #ccc no-repeat 10px center;
	background: rgba(210, 210, 210, 0.4) no-repeat 10px center;
	border: 1px solid #999;
	padding: 10px;
	margin-bottom: 10px;
}

#examples {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}